* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Plus Jakarta Sans", sans-serif;
}
#main {
  width: 100%;
  height: 100%;
  background-color: #ededed;
}
#nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  padding: 30px 30px;
}
#nav h4 {
  font-size: 20px;
}
#bag {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
}
#menu {
  font-size: 6vw;
  color: white;
  background-color: black;
  padding: 1vw;
  border-radius: 50%;
  display: none;
}
#center {
  width: 100%;
  padding: 40px 80px;
}
#center h1 {
  font-size: 6vw;
  font-weight: 500;
}
#center-in {
  width: 100%;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}
#center-in p {
  font-size: 1.4vw;
  font-weight: 600;
  line-height: 1.9vw;
}
#right {
  width: 20%;
}
.elem {
  border-top: 3px solid black;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.elem a {
  text-decoration: none;
  font-weight: 550;
  color: black;
  font-size: 20px;
  margin: 5px;
  line-height: 30px;
}
.elem i {
  font-size: 27px;
  opacity: 0;
}
.elem:hover i {
  opacity: 1;
}
.options {
  display: none;
}
#bottom img {
  width: 100%;
}
#bottom {
  position: relative;
  width: 100%;
}
#bottom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background: linear-gradient(to bottom, #ededed, transparent);
}
#img1 {
  width: 100%;
  display: block;
}
#img2{
  display:none;
}
#cart {
  display: none;
}
#cart p {
  display: inline;
  margin-left: 10px;
}
#details {
  display: none;
}
#product_details {
  background: #dddcdc;
  border-radius: 8px;
  margin-right: 10px;
  padding: 8px;
}
#shipping_details {
  background: #dddcdc;
  border-radius: 8px;
  padding: 8px;
}

/* media queries */
@media (max-width: 600px) {
  #nav h4,
  #bag {
    display: none;
  }
  #menu {
    display: block;
  }
  #center {
    width: 100%;
    padding: 0px 25px;
    margin-bottom: 20px;
  }
  #center h1 {
    font-size: 9vw;
    font-weight: 500;
  }
  #center-in {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  #center-in p {
    font-size: 2.5vw;
    font-weight: 600;
    line-height: 3vw;
  }
  .elem {
    display: none;
  }
  .options {
    display: inline;
  }
  #cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #beb6ad;
    padding: 10px;
    border-radius: 8px;
    margin: 0px 30px;
  }
  #cart p {
    display: inline;
    margin-left: 10px;
    text-align: center;
  }
  #cart i{
    text-align: center;
  }
  #details {
    display: flex;
    justify-content: center;
    padding: 6px 25px;
  }
  #product_details {
    background: #dddcdc;
    border-radius: 8px;
    margin-right: 10px;
    padding: 7px 13px;
  }
  #shipping_details {
    background: #dddcdc;
    border-radius: 8px;
    padding: 7px 13px;
  }
  #img2{
    padding-top: 15px;
  }
  #img1{
    display: none;
  }
  #img2 {
    width: 100%;
    display: block;
  }
  #bottom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background: linear-gradient(to bottom, #ededed, transparent);
  }
}